{{*datatables internationalization*}}
"oLanguage": {
"sProcessing": "<img src='img/loader.gif' alt='{{$_sProcessing}}' width='16' height='16' border='0'>", {{* "{{$_sProcessing}}" *}}
"sLengthMenu": "{{$_sLengthMenu}}",		//"Display _MENU_ records per page"
"sZeroRecords": "{{$_sZeroRecords}}",	//"Nothing found - sorry"
"sInfo": "{{$_sInfo}}",					//"Showing _START_ to _END_ of _TOTAL_ records"
"sInfoEmpty": "{{$_sInfoEmpty}}",		//"Showing 0 to 0 of 0 records"
"sInfoFiltered": "{{$_sInfoFiltered}}",	//"(filtered from _MAX_ total records)"
oPaginate:{sFirst:"{{$_first}}",sPrevious:"{{$_previous}}",sNext:"{{$_next}}",sLast:"{{$_last}}"}
},