{{set $_pagetitle=""}}
{{set $headerimgheight="238"}}
{{set $barcolor="151296"}}
{{set $_keywords=""}}
{{set $_description=""}}
{{include _header}}

{{* {{translations full2257="2257 Full"}} *}}

	<div id="headerimg"></div>

	<a name="2257"></a>
	<div class="headline_bar" align="left">
		<div class="bold">{{$full2257}}</div>
	</div>

	<div class="pagecontent">

		<p>
			The content contained herein is inappropriate for minors and care should be taken to ensure that it is not viewed by anyone under 18 years of age.<br><br>
		</p>

		<p>
			In compliance with the U.S. Federal Labeling and Record-Keeping Law (also known as 18 U.S.C. 2257), all models, actors, actresses, performers, and other persons who appear in any visual depiction of actual and/or simulated sexually explicit conduct appearing on, or otherwise contained in this web site were over the age of eighteen years at the time of the creation of such depictions.<br>

			All other visual depictions displayed on this Website are exempt from the provision of 18 U.S.C. section 2257 and 28 C.F.R. 75 because said visual depictions do not consist of depictions of conduct as specifically listed in 18 U.S.C section 2256 (2) (A) through (D), but are merely depictions of non-sexually explicit nudity, or are depictions of simulated sexual conduct.<br><br>
		</p>

		<p>
			The owner and operator of this Website and Content is
			<div style="padding-top:10px;">
			{{if $img2257}}
			<img src="{{$img2257}}" alt="" border="0">
			{{/if}}
			</div>
		</p>

	</div><!-- /pagecontent-->

{{include _footer}}