	<div width="100%" class="footerbar"></div>

	<div id="footer"><!-- footer-->
		<div class="left">
			&copy; 2010-{{#date('Y')}} {{$__sitename}} - {{$_allrightsreserved}}.
		</div>

		<div class="right">
			<a href="{{$__siteurl}}/terms">{{$_terms}}</a>
			|
			<a href="{{$__siteurl}}/privacypolicy">{{$_privacypolicy}}</a>
{{*
			|
			<a href="{{$__siteurl}}/links">{{$_links}}</a>
*}}
			|
			<a href="{{$__siteurl}}/contact#contact">{{$_contact}}</a>
			|
			<a href="http://support.zombaio.com/">{{$_billingsupport}}</a>
			|
			<a href="{{$__siteurl}}/2257">{{$_short2257}}</a>
			|
			<a href="#top">{{$_top}}</a>
		</div>

		<div class="c"></div>
	</div><!-- /footer-->

	<p>&nbsp;</p>

</div><!-- /content -->


</div><!-- /center-->
</body>
</html>