{{set $_pagetitle="About ".__sitename}}
{{set $_keywords="About ".__sitename}}
{{set $_description="About"}}
{{set $headerimgheight="291"}}
{{set $barcolor="961512"}}
{{include _header}}

	<div id="headerimg">
		<div style="float:right;margin:15px 25px 0px 0px;color:#EDC7A2;text-align:right;">
			<div class="f32">Take a bite!</div>
			<div class="f12">Nom nom nom!&nbsp;</div>
			</span>
		</div>
	</div><!-- /headerimg-->

	<a name="about"></a>
	<div class="headline_bar" align="left">
			<span class="right f11">(v4.0)</span>
			<span class="left bold">{{@_t.aboutsite}}</span>
	</div>

	<div class="pagecontent" align="left">

			<div class="right mleft20">
				<img src="{{$__siteurl}}/img/OTHER/about.jpg" width="300" height="500" border="2" alt="">
			</div>

			<div style="margin-left:25px;">
			At Buxom Curves, we try to do things differently.
			The adult industry is struggling for new models. I believe the future of porn is found in fairness and a great product.

			Here are some of the principles of Buxom Curves.

			<ol id="aboutlist">
				<li><strong>Focus on Softcore &amp; no dick-fixation</strong><br>
				If you do not appreciate curvy women and if you can only get off if a woman is bleeding out of her behind, then this site is not for you. There is nothing more annoying in porn than the guys. All of them. If you love to look at cocks - then our site is not for you. Either the guys can't shut up or they position themselves in a way so that you can only see their hairy ass and almost nothing of the girl. For this reason we do not show close-up genitaelia on this site, either. The only hardcore scene that we have is of Vanessa - and I am seriously contemplating pixelating the guys cock in the video.
				</li>

				<li><strong>Fair Pricing - Pay What You Want</strong><br>
				The porn website's pricing structure is no longer fair. Granted, this website is backed by a powerful content management system that took six months to develop and test. And the costs to produce porn are substantial. But many porn websites have stopped producing new content while they still make money.
				You can choose to pay us your fair price based on your evaluation of our site's content and what a fair price for it should be. The success and continuation of the site is based on your contribution.
				</li>

				<li><strong>Transparency</strong><br>
				Many people seem to think that a porn site owner automatically makes millions. Honestly, that is not the case (any more).
				For this reason, all revenue data is published. Once you join, the numbers will automatically be recalculated.
				Joining the site is like buying stock in a company. At the end of each month, a short report is published and the use of revenue is decided in a democratic way.
				By joining, you will be part of the continuing success of the site.
				</li>

				<li><strong>100% Reinvestment</strong><br>

				</li>

				<li><strong>Showing the girls' belly!</strong><br>
				Don't you hate it? You see a hot girl in a porn movie and want to admire her curvy body, but she always keeps her dress wrapped around her luscious plump belly?
				On Buxomcurves, we do not hide the goodness! We will <i>never</i> hide the belly of a big beautiful girl!</li>

				<li><strong>Openess - What You See Is What You Get!</strong><br>
				You cannot be disappointed with what you get on BuxomCurves. Our member area is open for previewing. You can take a look at about 98% of the whole content that you get when you sign up. Take a look and browse the <a href="{{$__siteurl}}/photos">picture sets</a> and <a href="{{$__siteurl}}/videos">videos</a>.</li>

				<li><strong>Treating women respectfully</strong><br>
				At BuxomCurves, we appreciate the female curves. And we hate BBWs being treated in a rude way.
				We focus on the buxom type. Guys do not interest us at all.</li>

				<li><strong>Minimal Photoshopping!</strong><br>
				On other sites, the girls often look like painted barby dolls, which have nothing at all to do with reality anymore.
				At BuxomCurves, we keep the photoshop usage to a bare minimum. Of course you don't want to see pimples on the girls. We do appreciate women in their entirety, though, including their blemishes. You will never see us remove stretch marks or paint over large areas of skin.</li>

				<li><strong>Exclusive content!</strong><br>
				Most of you will have found out by now: some pictures show up on paysites all over the internet. Because webmasters are too greedy to either shoot their own content or contract a photographer with shooting the pictures. At Buxomcurves, we work together with photographers <a href="./map">all over the world</a> to bring you exclusive pictures and videos. We do not license DVD titles. Our content cannot be found anywhere else on the net.
				The <i>only</i> non-exclusive scene in our library is <a href="{{$__siteurl}}/#">Silvie's photo and video set</a>.</li>

				<li><strong>Picture Reposting License</strong><br>
				You are free to copy, remix and share our <u>pictures</u> for <i>non-commercial use</i> as long as you follow the <a href="{{$__siteurl}}/license">license terms</a>. Non-commercial use does <em>not</em> include advertising other sites than buxomcurves.com. Again, you need to follow the <a href="{{$__siteurl}}/license">license terms</a>.
				If you have <em>any</em> questions about this license, <a href="{{$__siteurl}}/contact#contact">contact us</a>.
				</li>

			</ol>
			</div>

			<div class="c"></div>

			<div id="bottom">
				<div>
					<a href="{{$__siteurl}}/join">{{@_t.joinnow}}!</a>
				</div>
				<div class="bottom-text">
					Your membership gives you full access to all our pinup gals, extended photo sets, exclusive behind-the-scenes shots, videos and more!
				</div>
			</div><!-- /bottom-->

	</div><!-- /pagecontent-->

{{include _footer}}