{{set $_pagetitle="BuxomCurves Contact"}}
{{set $headerimgheight="276"}}
{{set $barcolor="961512"}}
{{set $_keywords=""}}
{{set $_description="BuxomCurves contact page"}}
{{include _header}}

	<a name="contact"></a>
	<div id="headerimg">

			<div class="bubblebox" id="contactform" style="margin:55px 0px 0px 50px;">
				<h2>{{@_t.contactus|upper}}</h2>
				<p><a href="mailto:{{$_email}}">{{@_t.webmaster}}</a></p>
			</div>

	</div><!-- /headerimg-->

{{*
	<div class="pagecontent">
	<div id="contact-us" align="center" width="100%">

			<div class="bubblebox" id="contactform">

				<h2>Billing Contacts</h2>

				<table id="contacttable" width="100%" cellpadding="5" cellspacing="0">
				<thead>
				<tr>
				<th>
					Biller
				</th><th>
					Your Statement Shows
				</th><th>
					Cancel/Retrieve Online
				</th><th>
					Support Number
				</th>
				</tr>
				</thead>
				<tbody>
				<tr><td>
					CCBILL
				</td><td>
					???
				</td><td>
					<a href="http://support.ccbill.com">http://support.ccbill.com</a>
				</td><td>
					???
				</td></tr>
				<tr><td>
					Zombaio
				</td><td>
					???
				</td><td>
					???
				</td><td>
					???
				</td></tr>
				</tbody>
				</table>

			</div>

			<div class="bubblebox" id="contactform">

				<h2>{{@_t.contactus}}</h2>

				<p><a href="&#x6d;&#97;&#105;&#x6c;&#x74;&#111;&#x3a;&#x77;&#101;&#98;&#109;&#x61;&#115;&#116;&#101;&#114;&#64;&#x62;&#x75;&#x78;&#x75;&#109;&#x63;&#x75;&#x72;&#118;&#101;&#x73;&#46;&#99;&#111;&#109;">{{$webmaster}}</a></p>
				<p><a href="&#x6d;&#97;&#105;&#108;&#116;&#111;&#58;&#x61;&#102;&#102;&#105;&#x6c;&#105;&#x61;&#116;&#x65;&#115;&#x40;&#x62;&#117;&#x78;&#117;&#x6d;&#99;&#117;&#114;&#118;&#101;&#115;&#46;&#x63;&#111;&#x6d;">{{$affiliates}}</a></p>
				<p><a href="&#109;&#x61;&#105;&#108;&#x74;&#111;&#x3a;&#105;&#110;&#102;&#111;&#64;&#x62;&#x75;&#x78;&#117;&#109;&#99;&#117;&#x72;&#x76;&#101;&#115;&#x2e;&#99;&#x6f;&#x6d;">{{$inquiries}}</a></p>

			</div>

	</div><!-- /contact-page-->
	</div><!-- /pagecontent-->
*}}

{{include _footer}}