{{set $_pagetitle="BuxomCurves Goodies: Free sexy buxom Wallpapers"}}
{{set $_keywords=""}}
{{set $_description="BuxomCurves BBW Wallpapers"}}
{{set $headerimgheight="265"}}
{{set $barcolor="c33a41"}}
{{* {{translations wallpaper="Wallpaper" wallpapers="Wallpapers" screensaver="Screensaver"}} *}}
{{include _header}}

	<div id="headerimg">
		<div style="float:left;margin:0px;margin-top:155px;margin-left:45px;color:#000000;" align="left">
			<div class="f32">Uhhh yeah!</div>
			<div class="f12">You found the good spot!</div>
		</div>
	</div><!-- /headerimg-->

	<div class="headline_bar" align="left">
		<div class="bold">{{@_t.free}} {{@_t.wallpapers}}</div>
	</div>

	<div class="pagecontent">

			{{block:wpcontainer name='' id=''}}
				<div class="wpcontainer">
					<img src="/wallpapers/{{$name}}/{{$id}}/thumb.jpg" alt="" width="148" height="111" border="2">
				 	<ul>
						<li><a href="./wallpapers/{{$name}}/{{$id}}/1920x1200.jpg">1920 x 1200</a></li>
						<li><a href="./wallpapers/{{$name}}/{{$id}}/1920x1080.jpg">1920 x 1080</a></li>
						<li><a href="./wallpapers/{{$name}}/{{$id}}/1680x1050.jpg">1680 x 1050</a></li>
						<li><a href="./wallpapers/{{$name}}/{{$id}}/1440x960.jpg">1440 x 960</a></li>
						<li><a href="./wallpapers/{{$name}}/{{$id}}/1440x900.jpg">1440 x 900</a></li>
						<li><a href="./wallpapers/{{$name}}/{{$id}}/1280x1024.jpg">1280 x 1024</a></li>
						<li><a href="./wallpapers/{{$name}}/{{$id}}/1280x800.jpg">1280 x 800</a></li>
				 		<li><a href="./wallpapers/{{$name}}/{{$id}}/1024x768.jpg">1024 x 768</a></li>
				 		<li><a href="./wallpapers/{{$name}}/{{$id}}/800x600.jpg">800 x 600</a></li>
				 		<li><a href="./wallpapers/{{$name}}/{{$id}}/480x320.jpg">480 x 320</a></li>
				 		<li><a href="./wallpapers/{{$name}}/{{$id}}/320x240.jpg">320 x 240</a></li>
					</ul>
				</div>
			{{/block}}

			<!--bianca-->
			{{for $i from 1 to 2}} {{*5*}}
				{{!wpcontainer name="bianca" id=$i}}
			{{/for}}
			<!--vanessa-->
			{{for $i from 1 to 1}} {{*2*}}
				{{!wpcontainer name="vanessa" id=$i}}
			{{/for}}
			<!--milla-->
			{{for $i from 1 to 2}}
				{{!wpcontainer name="milla" id=$i}}
			{{/for}}
			<!--juliette-->
			{{for $i from 1 to 2}}
				{{!wpcontainer name="juliette" id=$i}}
			{{/for}}
			<!--silvie-->
				{{!wpcontainer name="silvie" id=1}}
			<!--lucy-->
			{{for $i from 1 to 2}}
				{{!wpcontainer name="lucy" id=$i}}
			{{/for}}


			<div class="c"></div>

			<div id="bottom">
				<div>
					<a href="./#">Get instant access to all the photos sets above and more by joining now!</a>
				</div>
				<div class="bottom-text">
					Your membership gives you full access to all our pinup gals, extended photo sets, exclusive behind-the-scenes shots, videos and more!
				</div>
			</div><!-- /bottom-->

	</div><!-- /pagecontent-->

{{include _footer}}