{{set $_pagetitle="Links - BuxomCurves.com"}}
{{set $_keywords=""}}
{{set $_description="Links and Resources"}}
{{set $headerimgheight="276"}}
{{set $barcolor="961512"}}
{{include _header}}

	<div id="headerimg"></div><!-- /headerimg-->

	<a name="about"></a>
	<div class="headline_bar" align="left">
		{{@_t,links}}
	</div>

	<div class="pagecontent">

			<h3>{{@_t.blogs}}</h3>
				<div class="reviewsite left"><a href="xxx.http"><img src='{{$__siteurl}}/img/spacer.gif' alt="" border="0" width="120" height="80"></a></div>

			<div class="c">&nbsp;</div>

			<h3>{{@_t.reviewsites}}</h3>
				<div class="reviewsite left"><a href="xxx.http"><img src='{{$__siteurl}}/img/spacer.gif' alt="" border="0" width="120" height="80"></a></div>

			<div class="c"></div>

	</div><!-- /pagecontent-->

{{include _footer}}