/* BUXOMCURVES CSS           */
/* Theme: Light              */
/* fixed width is for losers */
/*** content ***/
* {
  padding: 0px;
  margin: 0px; }

body {
  color: #666666;
  font-family: Trebuchet,Verdana,Arial,Sans-Serif;
  font-size: 13px;
  text-align: center;
  background-color: #dfe4f1;
  cursor: default; }

#content {
  padding: 7px;
  background-color: white;
  min-width: 450px;
  max-width: 1148px;
  /*
  	max-width:988px;
  */
  overflow: hidden;
  /*
  	margin:0px $_bodymargin 0px $_bodymargin;
  */ }

#content-right {
  float: right;
  width: 79%;
  /*
  	width:760px;
  */ }

.pagecontent {
  background-color: #eaeaea;
  padding: 10px;
  color: #202020; }

#sidebar {
  float: left;
  width: 20%;
  /*
  	width:220px;
  */ }
  #sidebar .subbox {
    /*
    background-color:$_sidebar_subbox_bg;
    */
    /*
    padding:$_padding;
    */
    text-align: left;
    overflow: hidden;
    border-bottom: 1px dotted #CCCCCC; }
    #sidebar .subbox a {
      color: #202020;
      text-decoration: none;
      border-bottom: 1px solid transparent; }
      #sidebar .subbox a:hover {
        color: black;
        border-bottom: 1px dotted #666666; }

/* content */
/*** header ***/
#top-header {
  height: 70px;
  text-align: right;
  /*** site logo ***/
  background-image: url(/img/title.jpg);
  background-position: left bottom;
  background-repeat: no-repeat; }
  #top-header #headerstatistics {
    position: relative;
    top: 22px;
    right: 0px; }

#headerimg {
  /*
  	width:988px;
  */
  width: 100%;
  overflow: hidden;
  background-color: #961512;
  background-repeat: no-repeat;
  background-position: top left;
  text-align: left; }
  #headerimg img {
    display: block; }

/* header */
/*** links ***/
a {
  color: #101010; }
  a:hover {
    color: #f01010; }
  a:visited {
    color: #202020; }
  a:visited:hover {
    color: #f01010; }

/* links */
/*** menu ***/
#menu-container {
  background-color: #eaeaea;
  height: 28px; }
  #menu-container .menu li {
    float: left;
    line-height: 28px;
    color: #202020;
    font-family: "Arial Narrow",Arial,Verdana,sans-serif;
    font-size: 16px;
    list-style-type: none;
    list-style: none;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase; }
    #menu-container .menu li a {
      padding: 0px 20px 0px 20px;
      text-decoration: none; }
    #menu-container .menu li:hover {
      color: white;
      background-color: #666666; }
    #menu-container .menu li a, #menu-container .menu li a:visited {
      color: #202020; }
    #menu-container .menu li a:hover, #menu-container .menu li a:visited:hover {
      color: white; }

/* menu */
/*** home page ***/
.socneticon {
  margin: 0px 10px 0px 10px; }

/* home page */
/*** headline bar ***/
.headline_bar {
  margin: 7px 0px 7px 0px;
  padding: 10px 10px 0px 10px;
  height: 28px;
  color: white;
  text-align: left;
  font-family: Arial,Helvetica,Verdana,sans-serif;
  font-size: 1.1em;
  font-weight: bold;
  cursor: default; }
  .headline_bar a {
    text-decoration: none;
    color: white;
    cursor: pointer; }
  .headline_bar a:hover, .headline_bar a:visited:hover {
    color: #FFA0A0;
    border-bottom: 1px dotted #F0A0A0; }

/* headline bar */
/*** thumbs ***/
.thumbnail {
  float: left;
  margin: 0px 7px 7px 0px; }
  .thumbnail img {
    border: 1px solid #666666;
    background-color: #dda0a0;
    /*rounding*/
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    -o-border-radius: 6px;
    -ms-border-radius: 6px;
    -khtml-border-radius: 6px;
    border-radius: 6px; }
    .thumbnail img:hover {
      color: #101010; }
  .thumbnail .inactivethumb {
    opacity: 0.6; }
  .thumbnail a {
    text-decoration: none;
    color: #202020; }
    .thumbnail a:hover {
      color: #101010; }
    .thumbnail a:visited {
      text-decoration: none;
      color: #202020; }
    .thumbnail a:visited:hover {
      text-decoration: none;
      color: #202020; }

/* thumbs */
/*** 404page ***/
#page-404 {
  background-image: url(/img/404-bg.jpg);
  background-repeat: no-repeat;
  background-position: top left;
  height: 400px;
  padding: 100px 0px 0px 50px; }

/* 404page */
/*** faq page ***/
#faqcontainer {
  padding-top: 10px;
  margin-bottom: 10px; }
  #faqcontainer li {
    padding: 7px; }
  #faqcontainer #faqitems {
    width: 840px; }
  #faqcontainer .faqtextarea {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    width: 500px;
    height: 150px;
    background-color: #eaeaea;
    border: 1px dotted #666666;
    padding: 7px;
    margin-bottom: 7px; }
  #faqcontainer .faqinput {
    color: #666666;
    font-size: 13px;
    width: 100px;
    padding: 4px;
    margin: 4px;
    border: 1px solid #e5e5e5;
    background-color: #eaeaea; }

/* faq page */
/*** footer ***/
.footerbar {
  height: 4px;
  font-size: 0px;
  background-color: #999999; }

#footer {
  margin-top: 7px;
  color: #666666;
  text-transform: uppercase;
  font-size: 10px; }
  #footer a, #footer a:visited {
    color: #666666;
    text-decoration: none; }
  #footer a:hover, #footer a:visited:hover {
    border-bottom: 1px dotted #666666; }

/* footer */
/*** page advertisements ***/
#bottom {
  margin: 7px;
  text-align: center; }
  #bottom .bottom-text {
    font-size: 13px;
    font-weight: normal; }
  #bottom a {
    font-size: 23px;
    font-weight: bold;
    color: #BA013B;
    padding-top: 10px; }

/* page advertisements */
/*** pagination ***/
.pagination {
  text-align: center;
  margin: 10px; }
  .pagination a, .pagination a:visited {
    color: #202020;
    padding: 2px 7px 2px 7px;
    border: 1px solid #202020;
    text-decoration: none; }
  .pagination a:hover, .pagination a:visited:hover {
    background-color: #666666;
    color: white; }
  .pagination .selected, .pagination .selected:visited {
    color: #202020;
    padding: 2px 7px 2px 7px;
    border: 1px solid #202020;
    text-decoration: none; }
  .pagination .selected:hover, .pagination .selected:visited:hover {
    color: #202020;
    background-color: #F0F0F0; }

/* pagination */
/*** goodies ***/
.wpcontainer {
  width: 153px;
  text-align: left;
  float: left;
  padding-bottom: 10px;
  margin: 0px 4px 0px 4px; }
  .wpcontainer img {
    margin-bottom: 7px; }
  .wpcontainer ul {
    padding-left: 30px; }
  .wpcontainer ul li img {
    border: 2px solid #666666;
    background-color: #666666; }
  .wpcontainer ul li a {
    color: #202020;
    text-decoration: none; }
  .wpcontainer ul li a:hover, .wpcontainer ul li a:visited:hover {
    color: black;
    border-bottom: 1px dotted #666666; }

/* goodies */
/*** comments ***/
.comment {
  color: black; }
  .comment hr {
    background-color: white;
    border-bottom: 1px dotted #660000; }
  .comment .cname {
    font-weight: bold; }

.report {
  float: right;
  font-size: 10px;
  text-decoration: none;
  color: #999999; }

/* comments */
/*** contact form ***
#contact-us{
	padding:50px;
	padding-top:100px;
	padding-bottom:100px;
	#contactform{
		width:185px;
		h2{
			line-height:32px;
			font-weight:bold;
			font-size:20px;
			margin-bottom:20px;
		}
		p{
			line-height:15px;
			font-size:13px;
			font-weight:normal;
			padding-bottom:$_padding;
		}
	}
}
#contacttable thead th {
	border-bottom:1px dotted $_bodyfontcolor;
	text-align:left;
}
 contact form */
/*** form ***/
form {
  font-weight: normal;
  display: inline; }

.login-button {
  color: #202020;
  padding: 4px 10px;
  border: none;
  font-size: 12px;
  border-width: 1px;
  border-color: #AAAAAA;
  border-style: solid;
  -moz-border-radius: 4px;
  -khtml-border-radius: 4px;
  -webkit-border-radius: 4px;
  /*
  	border-radius:$_border_radius;
  */
  cursor: pointer;
  text-decoration: none; }

.login-button:hover {
  border-color: #666666;
  color: black; }

label {
  color: #777;
  font-size: 13px; }

#user_pass, #user_login, #user_email {
  color: #666666;
  font-size: 13px;
  width: 100px;
  padding: 4px;
  margin-top: 4px;
  margin-right: 7px;
  border: 1px solid #e5e5e5;
  background-color: #fbfbfb; }

/* form */
/*** video ***/
#videoPlayer {
  background-color: black;
  border: 0px; }

/* video */
/*** general layout ***/
.c {
  clear: both; }

.cl {
  clear: left; }

.cr {
  clear: right; }

.right {
  float: right; }

.left {
  float: left; }

.pointer {
  cursor: pointer; }

.mtop5 {
  margin-top: 5px; }

.mright5 {
  margin-right: 5px; }

.mbot5 {
  margin-bottom: 5px; }

.mleft5 {
  margin-left: 5px; }

.mtop10 {
  margin-top: 10px; }

.mright10 {
  margin-right: 10px; }

.mbot10 {
  margin-bottom: 10px; }

.mleft10 {
  margin-left: 10px; }

.mtop20 {
  margin-top: 20px; }

.mright20 {
  margin-right: 20px; }

.mbot20 {
  margin-bottom: 20px; }

.mleft20 {
  margin-left: 20px; }

.bold {
  font-weight: bold; }

.normal {
  font-weight: normal; }

.f10 {
  font-size: 10px; }

.f11 {
  font-size: 11px; }

.f12 {
  font-size: 12px; }

.f14 {
  font-size: 14px; }

.f18 {
  font-size: 18px; }

.f16 {
  font-size: 16px; }

.f24 {
  font-size: 24px; }

.f32 {
  font-size: 32px; }

.smallfont {
  font-size: 12px; }

.tinyfont {
  font-size: 10px; }

.italic {
  font-style: italic; }

.white {
  color: white; }

.red {
  color: red; }

/* general layout */
/*** map page ***/
#map_canvas {
  width: 988px;
  height: 300px; }

/* map page */
/*** a fancy box ***/
.bubblebox {
  line-height: 32px;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  text-align: center;
  padding: 16px 16px 26px 16px;
  -moz-border-radius: 11px;
  -khtml-border-radius: 11px;
  -webkit-border-radius: 11px;
  /*
  	border-radius:$_border_radius;
  */
  background: white;
  border: 1px solid #e5e5e5;
  -moz-box-shadow: #c8c8c8 0 4px 18px;
  -webkit-box-shadow: #c8c8c8 0 4px 18px;
  -khtml-box-shadow: #c8c8c8 0 4px 18px;
  /*
  	box-shadow:rgba(200,200,200,1) 0 $_border_radius 18px;
  */ }

/* a fancy box */
/*** about ***/
#aboutlist ol li {
  padding-top: 20px; }

/* about */
/*** messages ***/
.debug {
  font-family: "Courier New",Courier,sans-serif; }

.error {
  font-family: Arial,"Courier New",Courier,sans-serif; }

.errorheading {
  color: #8c0a32; }

.successmessage {
  color: lime; }

.errormesssage {
  color: red; }

/* messages */
