{{include _adminheader}}

{{include includes/options_submenu}}

	<a name="top"></a>
	<div id="admincontent">

		<form action="{{$__adminurl}}/options_local" method="post" name="options" id="options">
		<input type="hidden" name="securitytoken" value="{{$securitytoken}}">



Localization &amp; Internationalization Options



		<div>
			<input type="submit" id="submitall" class="submitbutton" name="submit" value="{{@_t.submit}}">
		</div>

		</form>

	</div><!-- admincontent-->

{{include _adminfooter}}