{{include _adminheader}}

<script src="{{$__adminurl}}/js/jquery.dataTables.min.js" type="text/javascript"></script>
<script type="text/javascript"><!--
var oTable;
$(document).ready(function(){

	/* Init DataTables */
	oTable = $('#table').dataTable( {
			{{include includes/datatable_setup}}
			"aaSorting": [[0,'desc']],
			"bStateSave": false,
			{{include includes/datatable_language}}
			"sDom": '<"top"<"right"f>><"bottom"rt<"actions">lpi><"clear">',
			"aoColumnDefs": [
				//column 0: icon
				{
					"aTargets": [0],
					"fnRender": function ( oObj ) {
							return '<img src="{{$__adminurl}}/img/icons/time.png" alt="" width="16" height="16" border="0">';
					},
					"bSearchable": false,
					"sClass": "center"
				}
			],

			"sAjaxSource": "{{$__adminurl}}/lib/datatables.php",
			"fnServerData": function ( sSource, aoData, fnCallback ) {

						aoData.push(
							{"name":"table", "value":"login_history"},
							{"name":"securitytoken", "value":"{{$securitytoken}}"}
						);

						$.ajax({
							"dataType": 'json',
							"type": 'POST',
							"url": sSource,
							"data": aoData,
							"success": fnCallback
						});
			},
	});

	$("div.actions").html('<div class="dt_buttons"><div class="right dt_butt"><input type="submit" id="delete" name="delete" value="{{@_t.clearhistory}}" class="adm_button"></div></div>');

});
//-->
</script>


	<a name="top"></a>
	<div id="admincontent">

		{{include includes/error_success_msg}}

		<div id="ratinglist">

			<form action="{{$__adminurl}}/login_history" method="post" name="login_history">
				<input type="hidden" name="securitytoken" value="{{$securitytoken}}">
				<input type="hidden" name="_action" value="delete">

					<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table">
					<thead>
					<tr>
						<th class="col_icon">&nbsp;</th>
						<th width="20%">{{@_t.username}}</th>
						<th class="col_ip">{{@_t.ip}}</th>
						<th width="20%">{{@_t.host}}</th>
						<th width="20%">{{@_t.status}}</th>
						<th class="col_date_long">{{@_t.lastlogin}}</th>
					</tr>
					</thead>
					<tbody>
						<tr><td colspan="6">Querying data...</td></tr>
					</tbody>
					</table>

				</form>

				<div class="c"></div>

			</div><!-- /ratinglist-->

	</div><!-- admincontent-->

{{include _adminfooter}}