{{set $_pagetitle="About ".__shortname}}
{{set $_keywords="About ".__sitename}}
{{set $_description="About"}}
{{set $headerimgheight="291"}}
{{set $barcolor="961512"}}

{{translations aboutsite="About Site" joinnow="Join Now"}}

{{include _header}}

	<div id="headerimg">
		<div style="float:right;margin:15px 25px 0px 0px;color:#EDC7A2;text-align:right;">
			<div class="f32">Take a bite!</div>
			<div class="f12">Nom nom nom!&nbsp;</div>
			</span>
		</div>
	</div><!-- /headerimg-->

	<a name="about"></a>
	<div class="headline_bar" align="left">
			<span class="right f11">(v3.0)</span>
			<span class="left bold">{{$aboutsite}}</span>
	</div>

	<div class="pagecontent" align="left">

			<div style="float:right;background-color:#666666;margin-left:20px;">
				<img src="{{$__siteurl}}/img/about.jpg" width="300" height="500" border="2" alt="" />
			</div>

			<p>
			jsdkljsdkljsdklj sdkj sdkljsd dkljsd kljsd klsjdlkjsdlksdj klsjd sdklj sddkjlsd.
			jsdkljsdkljsdklj sdkj sdkljsd dkljsd kljsd klsjdlkjsdlksdj klsjd sdklj sddkjlsd.
			</p>

			<div class="cl"><br /></div>

			<div style="margin-left:25px;">
			<ol>
				<li><strong>Showing the girls' belly!</strong><br />
				Don't you hate it? You see a hot girl in a porn movie and want to admire her curvy body, but she always keeps her dress wrapped around her plump belly?
				On Buxomcurves, we do not hide the goodness! We will <i>never</i> hide the belly of a beautiful girl!</li>

				<li><strong>Treating women respectfully!</strong><br />
				In and out. That's what most porn is about. Honestly, in our opinion, 90% of the porn movies are gay. All you see in those flics is a hairy guy's ass or close-ups of his cock. If you like seeing a guy's naked ass pound a barely visible woman, go watch them.
				But if you want to appreciate a woman, you've come to the right place.
				We focus on the buxom girls. The guy's do not interest us that much.</li>

				<li><strong>Exclusive content!</strong><br />
				Most of you will have found out by now: some pictures show up all over the internet, because webmasters are too greedy to either shoot their own content or contract a photographer with shooting the pictures. At Buxomcurves, we work together with photographers <a href="./map.html">all over the world</a> to bring you exclusive pictures and videos. We do not license DVD titles. Our content cannot be found anywhere else on the net.
				The <i>only</i> non-exclusive scene in our library is <a href="{{$__siteurl}}/#">Silvie's photo and video set</a>.</li>

				<li><strong>Openess - What You See Is What You Get!</strong><br />
				You cannot be disappointed with what you get on BuxomCurves. Our members area is open for previewing. You can take a look at about 98% of the whole content that you get when you sign up. Take a look and browse the <a href="{{$__siteurl}}/photos.php">picture sets</a> and <a href="{{$__siteurl}}/videos.php">videos</a>.</li>

				<li><strong>Fair Pricing - Pay What You Want</strong><br />
				</li>

				<li><strong>Creative Commons</strong><br />
				You are free to copy, remix and share all our <u>pictures</u> for non-commercial use as long as you follow the <a href="#">license terms</a>. <a href="#">Creative Commons license</a>.
				</li>

				<li><strong>Minimal Photoshopping!</strong><br />
				On other sites, the girls often look like painted barby dolls, which have nothing at all to do with reality anymore.
				At BuxomCurves, we keep the photoshop usage to a bare minimum. Of course you don't want to see pimples on the girls. We do appreciate women in their entirety, though, including their blemishes. You will never see us remove stretch marks or paint over large areas of skin.</li>

				{{*
				<li><strong>Feedback!</strong><br />
				Have an idea for a picture or video scene? Leave some comments on the <a href="./members/forum/">forum</a>.
				*}}

				<li><strong>More Questions?</strong><br />
				Visit the <a href="{{$__siteurl}}/faq.php">FAQ</a>.</li>
			</ol>
			</div>

			<div class="c"></div>

			<div id="bottom">
				<div class="bottom-a">
					<a href="{{$__siteurl}}/join.php">{{$joinnow}}!</a>
				</div>
				<div class="bottom-text">
					Your membership gives you full access to all our pinup gals, extended photo sets, exclusive behind-the-scenes shots, videos and more!
				</div>
			</div><!-- /bottom-->

	</div><!-- /pagecontent-->

{{include _footer}}